<%- include('./partials/header.ejs') %>
<div class='album py-5'>
    <div class="container font-type container-backgroud">
<div  class="col-12 col-md-7">
    <h1 class="css-3xaxbt e191tw2m0">About </h1>
    <p class="css-1n3e224 e7tpqbf0">The Resource for Art &amp; Design</p>
    <p class="css-ewicxb e7tpqbf0">The The Art Store is an Art and Design tarde platform, focused on 
        highlighting the best of contemporary art and design. The online platform, The Art Store, lists thousands of 
        artists from around the world, with new artworks and design items added to the site daily. The Art Store offers 
        trading platform for artists.</p>
    <p class="css-ewicxb e7tpqbf0">The Art Store is headquartered in Charlotte</p></div>
</div>
</div>
<%- include('./partials/footer.ejs') %>