<%- include('./partials/header.ejs') %>
<div class='album py-5'>
    <div class="container font-type container-backgroud">
        <div  class="col-12 col-md-7">
            <div class="col-12 col-md-5"><h1>Contact Us</h1>
                <p >Phone: +1 (093)457-3898</p>
                <p><a href="mailto:contact@theartstore.com">Email: contact@theartstore.com</a></p>
                <p class="css-1nb2s9o ecmzus30">Address: University City BLVD,Charlotte, 28262</p>
    
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer.ejs') %>