.footer{
    position: relative;
    bottom: 0;
}
.hr-primary{
    background-image: -webkit-linear-gradient(left, rgba(66,133,244,.8), rgba(66, 133, 244,.6), rgba(0,0,0,0));
  }
.backGround {  
    background: url('../images/BackGround.jpg') no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}
.removeLink{
    text-decoration: none;
}
.padding-right-20{
    padding-right: 20px;
}
.font-type{
    font-family: ui-rounded;
    color: #212529;
}
.padding-top-5{
    padding-top: 15px;
}
.image-upload-border{
    border: 1px solid rgb(206, 212, 218) 0.25rem;
    background: white;

}
.container-backgroud{
    border: 1px solid #212529;
    background: #00000000;
    border-radius: 0.25rem;
}
.header-contain{
    color: #0dcaf0;
    font-weight : revert
}
.color-black{
    color: black;
}
.product-details-background{
    background-color: rgb(8, 8, 8);
}
.font-theme-color{
    color: #0dcaf0;
}
.img {    
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height:auto;
}
.main_page-div1{
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    position: relative;
    min-height: 1px;
    height: 242px;
}
.img-width-100{
    width: 100;
}

.heading{
    text-align: center;
}
